.usersSection {
    color: #472276;
    padding: 2rem;
}
.usersWrapper {
    background-color: #ffffff;
    border: 2px solid #e6ebf0;
    border-radius: 5px;
    box-sizing: border-box;
}
.userBlock {
    display: grid;
    grid-template-columns: 120px 1fr;
    border-bottom: 1px solid #e6ebf0;
    box-sizing: border-box;
    padding: 1rem;
}
.photoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photoBlock button {
    font-size: .7rem;
    color: #472276;
    text-transform: uppercase;
    background-color: #ffffff;
    outline: none;
    border: 2px solid #472276;
    border-radius: 10px;
    box-sizing: border-box;
    width: 95px;
    height: 20px;
    transition: all .3s ease;
}
.photoBlock button:hover {
    color: #ffffff;
    cursor: pointer;
    background-color: #472276;
    transition: all .3s ease;
}
.userPhoto {
    width: 80px;
    height: 80px;
}
.userName {
    font-weight: bold;
}