.header {
	grid-area: h;
	background-color: #3e0a67;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem;
}
.header img {
	width: 40px;
}
.header .loginBlock {
	color: #ffffff;
}
.header .loginBlock a {
	text-decoration: none;
	color: #ffffff;
}
.header .loginBlock a:hover {
	opacity: .7;
}