.nav {
	grid-area: n;
	background-color: #ffffff;
}
.nav nav {
	margin: 0 0 4rem;
}
.item {
	height: 3rem;
	border-bottom: 1px solid #e6ebf0;
}
.item a {
    color: #472276;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .5s ease;
}
.item a:hover {
	color: #ffffff;
	background-color: #7552a0;
	transition: all .3s ease;
}
.item a.active {
	color: #ffffff;
	background-color: #3e0a67;
}